# Port untuk menjalankan server
PORT=3000

# Konfigurasi Data RUP Default
DEFAULT_KLPD=D197
DEFAULT_TAHUN=2025

# Override URL jika ingin menggunakan URL custom
# JSON_DATA_URL=https://custom-url.com/data.json
